<div class="body">
	
	<input placeholder="search location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [formControl]="searchControl">

	<ul class="collection">
	 <li class="collection-item">address <code>{{address}}</code></li>
	 <li class="collection-item">latitude <code>{{latitude}}</code></li>
	 <li class="collection-item">longitude <code>{{longitude}}</code></li>
	</ul>

	<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]='17' [minZoom]='15'>
	    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
	</agm-map>

</div>